body{
background-color: khaki;
}

.sectiona{
    padding: 30px;
    background-color: green;
    width: 50%;
    border: 1px solid black;
}

.sectionb{
    padding: 30px;
    background-color: red;
    margin-top: 50px;
    width: 50%;
    border: 1px solid black; 
}